{% extends 'base.html' %}
{% block content %}
<h1>나의 혜택</h1>
<ul>
    {% for application in applications %}
    <li>
        <h2>{{ application.benefit.name }}</h2>
        <p>허가일 : {{ application.applied_date }}</p>
        <p>상태: {{ application.status }}</p>
        {% if application.user.user_info %}
        <p>Email: {{ application.user.email }}</p>
        <p>소득정보 : {{ "%0.f"|format(application.user.user_info.income) }}</p>
        <p>가족수: {{ application.user.user_info.family_members }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}